.page-header {
    background-color: #3e4957;
    margin-top: 0;
    padding: 0.5rem 1rem 1.5rem 2rem;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 38pt;
    text-decoration: none;
    font-family: 'Fredericka the Great' ;
}

.content {
    margin-left: 4rem;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin-right: 2rem;
    margin-top: 3.5rem;
}

#yaz{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#yaz, #yaz:visited{
    color: black; 
    font-family: Arial, Helvetica, sans-serif;  
}
#baslik{
    color: #3e4957;
    font-family: 'Special Elite' ;
}

#baslik, #baslik:visited{
     color: #3e4957;
    font-family: 'Special Elite' ;
}

.post {
    color: black;
    margin-bottom: 7rem;
    

}

.post h1 a, .post h1 a:visited {
    color: #3e4957;
    font-family: 'Special Elite' ;
}